@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Oswald:wght@300&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    
    font-family: Arial, Helvetica, sans-serif;
    --roxo: #6747C7;
    --roxoclaro: #B642D4;
    --roxoescuro: #9545DE;
    --azulescuro: #4548DE;
    --azulclaro: #426BD4;
}

nav{
    margin-top: 40px;
    height: 20vh;
    justify-content: space-between;
    padding: 0 20px;
}

nav, ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}




nav ul li{
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color: var(--azulescuro);
}

nav h1{
    
    
    color: var(--roxo);
    padding-left: 100px;
}


@media (max-width:708px) {
    nav h1{
        padding-left: 55px;
    }
}
 

#started{
    color:white;
    border-radius: 10px;
    background-color: var(--roxo);
    padding: 10px;
    transition: 0.5s;
}

#started:hover{
    background-color: var(--roxoescuro);
    padding: 15px;
}


.website{
    display: flex;
    margin-bottom: 10px;
    margin-top: 30px;
}



#btn-mobile{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 30px;
    padding-top: 0;
    height: 70px;
    font-size: 30px;
    border: none;
    color: var(--roxoescuro);
    background-color: rgba(255, 255, 255, 0);
}





.web-texto h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 50px;
    margin-left: 8.5vh;
    height: 200px;
    color: var(--azulescuro);
    padding: 0;
}

@media (max-width:708px) {
    .web-texto h1{
        margin-top: 70px;
        margin-bottom: 30px;
        
    }
    
}

.web-texto p{
    margin-left: 8.5vh;
    line-height: 20px;
}

@media (max-width: 1410px) {
    .web-texto p{
        margin-top: 20px;
    }
}



.web-texto .submit{
    cursor: pointer;
    border-radius: 30px;
    color: white;
    border: none;
    background-color: var(--roxo);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    margin-left: 8.5vh;
    transition: 0.5s;
}


.web-texto .submit:hover{
    background-color: var(--roxoescuro);
    padding-left: 45px;
    padding-right: 45px;

}

.web-img img{
    padding: 0;
    margin: 0;
    border-top-left-radius: 2000px;
    border-bottom-left-radius: 1000px;
}





@media (max-width:708px) {
    .web-img img{
        display: none;
    }
    
}

@media (max-width:708px) {
    .menu{
      position: absolute;
      display: block;
      width: 100%;
      right: 0px;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      background-color: var(--roxoescuro);
      overflow-y: hidden;
      overflow-y: hidden;
    }

    #btn-mobile{
        display: flex;
    }
    
    #nav.active .menu {

    
    cursor: pointer;
    overflow-y: hidden;
    flex-direction: column;
    margin-top: 10px;
    line-height: 50px;
    height: calc(150vh - 70px);
    text-align: left;
    visibility: visible;
    }

    #nav.active a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom:  2px solid rgba(0, 0, 0, 0.137);
        position: relative;
        top: 30px;
        font-weight: bold;
        color: white;
    }

    #nav.active #started{
      background-color: rgba(32, 14, 14, 0);
    }
    
    #nav.active h1{
        display: none;
    }

    #nav.active #btn-mobile{
        position: absolute;
        top: 10px;

    }

    
}

